@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
@import "tailwindcss";

:root {
  --primary: #001948;
  --secondary: #DFA408;
  --white:#fff;
  --font-family-text:sans-serif;
  --font-family-tittle: 'EB Garamond', sans-serif;
}
body{
  background-color: black;
  color: white;
}
.title{
  color: tomato;
}
.title2{
  color: var(--secondary);
}

.container{
  @apply flex flex-row my-36 mx-auto 
  
}
.form{
  background-color: #3c3c3c;
}
.modify{
  background-color: var(--secondary);
}
.delete{
  background-color: tomato;
}